/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
  line-height: 1.6;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to right,#1e3c72, #5b8bdd);
  color: white;
  padding: 40px 20px;
}

.hero-content {
  max-width: 700px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 20px;
  object-fit: cover;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero h1 span {
  color: #ffd369;
}

.hero h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: 400;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 25px;
}

/* Buttons */
.hero-buttons {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}

.btn {
  background: white;
  color: #1e3c72;
}

.btn:hover {
  background: #f0f0f0;
}

.btn-primary {
  background: #ffd369;
  color: #333;
}

.btn-primary:hover {
  background: #ffca28;
}

/* Social Links */
.social-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.social-links a:hover {
  color: #ffd369;
}
